<a href="https://colab.research.google.com/github/raksakusumah/Project-Information-Retrieval-/blob/main/ContentBasedFilteringMovieRecommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import packages and dataset

RAKE short for Rapid Automatic Keyword Extraction algorithm, is a domain independent keyword extraction algorithm which tries to determine key phrases in a body of text by analyzing the frequency of word appearance and its co-occurance with other words in the text. = https://github.com/csurfer/rake-nltk

In [ ]:
!pip install rake_nltk
import pandas as pd
import numpy as np
from rake_nltk import Rake
from sklearn.metrics.pairwise import cosine_similarity
#tokenizes a collection of words extracted from a text doc
from sklearn.feature_extraction.text import CountVectorizer 
#to evaluate expression whether it is python datatype or not
from ast import literal_eval

Requirement already satisfied: rake_nltk in /usr/local/lib/python3.6/dist-packages (1.0.4)
Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (from rake_nltk) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk->rake_nltk) (1.15.0)

In [ ]:
dataset = pd.read_csv('IMDb movies.csv')
print(dataset.shape)
dataset.head()

(85855, 22)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  imdb_title_id  ... reviews_from_critics
0     tt0000009  ...                  2.0
1     tt0000574  ...                  7.0
2     tt0001892  ...                  2.0
3     tt0002101  ...                  3.0
4     tt0002130  ...                 14.0

[5 rows x 22 columns]

In [ ]:
#convert null value to "Missing Value"
dataset = dataset.fillna('missing value')

We recommend the movie based on movies director and actor movies

In [ ]:
#mov_director = input('Enter the Director name to be recommended: ')
mov_director = 'Joe Russo'
dataset[dataset['director'] == mov_director]

#mov_actor = input('Enter the Actor name to be recommended: ')
mov_actor = 'Chris Evans'
mov_actor = dataset[dataset['actors'].str.contains(mov_actor)]

Data preprocessing

In [ ]:
dataset.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

In [ ]:
#extracting relevant columns influencing the ratings based on content
data = dataset[['title','genre','director','actors','description']].head(3000)
data.head()

                         title  ...                                        description
0                   Miss Jerry  ...  The adventures of a female reporter in the 1890s.
1  The Story of the Kelly Gang  ...  True story of notorious Australian outlaw Ned ...
2               Den sorte drøm  ...  Two men of high rank are both wooing the beaut...
3                    Cleopatra  ...  The fabled queen of Egypt's affair with Roman ...
4                    L'Inferno  ...  Loosely adapted from Dante's Divine Comedy and...

[5 rows x 5 columns]

In [ ]:
#convert null value to "Missing Value"
data = data.fillna('missing value')

In [ ]:
#Convert all columns into lower case
data = data.applymap(lambda x: x.lower() if type(x) == str else x)
data.head()

                         title  ...                                        description
0                   miss jerry  ...  the adventures of a female reporter in the 1890s.
1  the story of the kelly gang  ...  true story of notorious australian outlaw ned ...
2               den sorte drøm  ...  two men of high rank are both wooing the beaut...
3                    cleopatra  ...  the fabled queen of egypt's affair with roman ...
4                    l'inferno  ...  loosely adapted from dante's divine comedy and...

[5 rows x 5 columns]

In [ ]:
#Use genre as a list of words
data['genre'] = data['genre'].map(lambda x: x.split(','))
data['genre']

0                            [romance]
1          [biography,  crime,  drama]
2                              [drama]
3                    [drama,  history]
4        [adventure,  drama,  fantasy]
                     ...
2995      [adventure,  comedy,  crime]
2996    [action,  adventure,  romance]
2997    [action,  adventure,  romance]
2998                           [drama]
2999      [action,  adventure,  crime]
Name: genre, Length: 3000, dtype: object

In [ ]:
#separate names into first and last name with commas
data[['director','actors']] = data[['director','actors']].applymap(lambda x: x.split(',')) #apply map used for more than 1 column, map for 1 column
data[['director','actors']].head()

                                 director                                             actors
0                       [alexander black]  [blanche bayliss,  william courtenay,  chaunce...
1                          [charles tait]  [elizabeth tait,  john tait,  norman campbell,...
2                             [urban gad]  [asta nielsen,  valdemar psilander,  gunnar he...
3                    [charles l. gaskill]  [helen gardner,  pearl sindelar,  miss fieldin...
4  [francesco bertolini,  adolfo padovan]  [salvatore papa,  arturo pirovano,  giuseppe d...

In [ ]:
#Combine director, actor names into 1 word respectively, will be used for text extraction
for index,row in data.iterrows():
  row['actors'] = [x.replace(' ','') for x in row['actors']]
  row['director'] = [x.replace(' ','') for x in row['director']]

In [ ]:
#the outcome 'data' column 
data.head()

                         title  ...                                        description
0                   miss jerry  ...  the adventures of a female reporter in the 1890s.
1  the story of the kelly gang  ...  true story of notorious australian outlaw ned ...
2               den sorte drøm  ...  two men of high rank are both wooing the beaut...
3                    cleopatra  ...  the fabled queen of egypt's affair with roman ...
4                    l'inferno  ...  loosely adapted from dante's divine comedy and...

[5 rows x 5 columns]

Keyword Extraction

<b>Keyword extraction is automatic detection of terms that best describe the subject of a document. We will use Rake to extract keywords from description.<b>

In [ ]:
#Create a empty list Keywords
data['keywords'] = ''

In [ ]:
#Loop across all rows to extract all keywords from description
for index, row in data.iterrows():
  description = row['description']
    
  #instantiating Rake by default it uses English stopwords from NLTK and discards all punctuation chars
  r = Rake()
    
  #extract words by passing the text
  r.extract_keywords_from_text(description)
  
  #get the dictionary with key words and their scores
  keyword_dict_scores = r.get_word_degrees()
    
  #assign keywords to new columns
  row['keywords'] = list(keyword_dict_scores.keys())
    
#drop description
data.set_index('title', inplace = True)
data.head()

                                                     genre  ...                                           keywords
title                                                       ...
miss jerry                                       [romance]  ...              [adventures, female, reporter, 1890s]
the story of the kelly gang    [biography,  crime,  drama]  ...  [true, story, 80, )., 1855, notorious, austral...
den sorte drøm                                     [drama]  ...  [high, rank, famous, equestrian, acrobat, stel...
cleopatra                                [drama,  history]  ...  [fabled, queen, affair, egypt, ultimately, dis...
l'inferno                    [adventure,  drama,  fantasy]  ...  [gustav, doré, loosely, adapted, new, score, o...

[5 rows x 5 columns]

Bag of Words

<b>Here the occurence of every word is used as a feature for training a classifier. <b>

In [ ]:
data['BoW'] = ''
columns = data.columns
for index, row in data.iterrows():
  words = ''
  for col in columns:
    words = words + ' '.join(row[col])+ ' '
    row['BoW'] = words

In [ ]:
data.head()

                                                     genre  ...                                                BoW
title                                                       ...
miss jerry                                       [romance]  ...  romance alexanderblack blanchebayliss williamc...
the story of the kelly gang    [biography,  crime,  drama]  ...  biography  crime  drama charlestait elizabetht...
den sorte drøm                                     [drama]  ...  drama urbangad astanielsen valdemarpsilander g...
cleopatra                                [drama,  history]  ...  drama  history charlesl.gaskill helengardner p...
l'inferno                    [adventure,  drama,  fantasy]  ...  adventure  drama  fantasy francescobertolini a...

[5 rows x 6 columns]

Count Vectorizer

<b>Count Vectorizer
Convert a collection of text documents to a matrix of token counts. It's a data table that is obtained after normalization of next-generation sequencing data. <b>

In [ ]:
#instantiating and generating the count matrix
count = CountVectorizer()
count_matrix = count.fit_transform(data['BoW'])

#create a Series for movie titles so they are associated to an ordered numerical list, will use later for match index
indices = pd.Series(data.index)
indices[:5]

#Shape count_matrix
count_matrix
type(count_matrix)

#Convert sparse count_matrix to dense vector
cm = count_matrix.todense()
cm

#Print count_matrix for 0th row
print(count_matrix[0,:]) #This shows all words and their frequency in bow of 0th row

#Gives vocabulary of all words in 'bow' and their counts
count.vocabulary_

  (0, 16901)	1
  (0, 566)	1
  (0, 2192)	1
  (0, 20694)	1
  (0, 3321)	1
  (0, 324)	1
  (0, 6575)	1
  (0, 16407)	1
  (0, 64)	1

{'romance': 16901,
 'alexanderblack': 566,
 'blanchebayliss': 2192,
 'williamcourtenay': 20694,
 'chaunceydepew': 3321,
 'adventures': 324,
 'female': 6575,
 'reporter': 16407,
 '1890s': 64,
 'biography': 2152,
 'crime': 4148,
 'drama': 5153,
 'charlestait': 3269,
 'elizabethtait': 5711,
 'johntait': 10694,
 'normancampbell': 14317,
 'bellacola': 1863,
 'willcoyne': 20656,
 'samcrewes': 17275,
 'jackennis': 9951,
 'johnforde': 10596,
 'veralinden': 19986,
 'mr': 13830,
 'marshall': 12897,
 'mckenzie': 13245,
 'frankmills': 7095,
 'olliewilson': 14538,
 'true': 19583,
 'story': 18437,
 '80': 118,
 '1855': 50,
 'notorious': 14364,
 'australian': 1519,
 'outlaw': 14716,
 'ned': 14054,
 'kelly': 11117,
 'urbangad': 19825,
 'astanielsen': 1426,
 'valdemarpsilander': 19874,
 'gunnarhelsengreen': 8249,
 'emilalbes': 5806,
 'hugoflink': 9331,
 'maryhagen': 12977,
 'high': 9064,
 'rank': 16029,
 'famous': 6454,
 'equestrian': 6000,
 'acrobat': 215,
 'stella': 18357,
 'two': 19652,
 'men': 13310,
 'jeweler': 10410,
 'hirsch': 9109,
 'wooing': 20924,
 'follow': 6857,
 'home': 9162,
 'ignores': 9459,
 'accepts': 180,
 'count': 4052,
 'von': 20266,
 'waldberg': 20319,
 'beautiful': 1807,
 'offer': 14457,
 'history': 9114,
 'charlesl': 3221,
 'gaskill': 7459,
 'helengardner': 8831,
 'pearlsindelar': 15066,
 'missfielding': 13599,
 'missrobson': 13611,
 'helenecostello': 8820,
 'charlessindelar': 3262,
 'howard': 9262,
 'jamesr': 10128,
 'waite': 20308,
 'osborne': 14639,
 'harryknowles': 8616,
 'paul': 14928,
 'brady': 2427,
 'corker': 4004,
 'fabled': 6404,
 'queen': 15878,
 'affair': 339,
 'egypt': 5587,
 'ultimately': 19688,
 'disastrous': 4809,
 'roman': 16900,
 'general': 7507,
 'marc': 12589,
 'antony': 1110,
 'adventure': 321,
 'fantasy': 6470,
 'francescobertolini': 6952,
 'adolfopadovan': 288,
 'salvatorepapa': 17267,
 'arturopirovano': 1369,
 'giuseppedeliguoro': 7896,
 'pierdellevigne': 15320,
 'augustomilla': 1499,
 'attiliomotta': 1465,
 'emiliseberetta': 5826,
 'gustav': 8282,
 'doré': 5104,
 'loosely': 12006,
 'adapted': 239,
 'new': 14123,
 'score': 17435,
 'original': 14619,
 'silent': 17893,
 'film': 6675,
 'inspired': 9668,
 'restored': 16472,
 'dante': 4353,
 'divine': 4891,
 'comedy': 3757,
 'tangerine': 18855,
 'dream': 5163,
 'illustrations': 9481,
 'sidneyolcott': 17864,
 'hendersonbland': 8881,
 'percydyer': 15127,
 'genegauntier': 7500,
 'alicehollister': 666,
 'samuelmorgan': 17309,
 'jamesd': 10089,
 'ainsley': 407,
 'robertg': 16738,
 'vignola': 20084,
 'georgekellog': 7620,
 'mcgowan': 13239,
 'birth': 2158,
 'books': 2325,
 'based': 1742,
 'born': 2372,
 'testament': 19027,
 'shepherds': 17724,
 'foretold': 6893,
 'jesus': 10401,
 'wise': 20877,
 'bethlehem': 2019,
 'visited': 20199,
 'christ': 3421,
 'life': 11778,
 'parents': 14828,
 'account': 193,
 'ernstlubitsch': 6085,
 'polanegri': 15472,
 'emiljannings': 5828,
 'harryliedtke': 8621,
 'eduardvonwinterstein': 5467,
 'reinholdschünzel': 16287,
 'elseberna': 5764,
 'fredimmler': 7215,
 'gustavczimeg': 8286,
 'karlplaten': 11033,
 'bernhardgoetzke': 1963,
 'magnusstifter': 12456,
 'paulbiensfeldt': 14938,
 'willykaiser': 20818,
 'heyl': 9050,
 'alexanderekert': 571,
 'robertsortsch': 16801,
 'pla': 15401,
 'madame': 12386,
 'dubarry': 5215,
 'louis': 12068,
 'xv': 21001,
 'time': 19237,
 'france': 6948,
 'loves': 12159,
 'french': 7261,
 'revolution': 16515,
 'mistress': 13619,
 'enricoguazzoni': 5947,
 'amletonovelli': 822,
 'gustavoserena': 8292,
 'carlocattaneo': 2881,
 'ameliacattaneo': 807,
 'leagiunchi': 11538,
 'brutocastellani': 2571,
 'augustomastripietri': 1498,
 'cesaremoltini': 3090,
 'olgabrandini': 14497,
 'ignaziolupi': 9455,
 'giovannigizzi': 7883,
 'liaorlandini': 11754,
 'matildeguillaume': 13071,
 'idacarlonitalli': 9429,
 'giuseppegambardella': 7897,
 'later': 11466,
 'movies': 13824,
 'epic': 5988,
 'italian': 9874,
 'influenced': 9606,
 'many': 12578,
 'quo': 15902,
 'vadis': 19868,
 'war': 20434,
 'aristidedemetriade': 1203,
 'grigorebrezeanu': 8172,
 'constantademetriade': 3921,
 'constantinnottara': 3923,
 'pepimachauer': 15120,
 'aurelathanasescu': 1508,
 'jenymetaxa': 10364,
 'doro': 5046,
 'nicolaesoreanu': 14166,
 'vasiletoneanu': 19941,
 'aristitaromanescu': 1204,
 'elvirepopesco': 5784,
 'vîrgolici': 20295,
 'nedelcovici': 14056,
 'mihailtancovici': 13438,
 'cosmin': 4035,
 'iondumitrescu': 9770,
 'gheorghemeliseanu': 7825,
 '1877': 57,
 'romanian': 16905,
 'movie': 13823,
 'depicts': 4604,
 '1878': 58,
 'independence': 9559,
 'andrécalmettes': 897,
 'jameskeane': 10110,
 'robertgemp': 16740,
 'frederickwarde': 7199,
 'albertgardner': 472,
 'georgemoss': 7643,
 'howardstuart': 9282,
 'virginiarankin': 20180,
 'violetstuart': 20154,
 'careylee': 2840,
 'carlottadefelice': 2897,
 'english': 5920,
 'throne': 19200,
 'murder': 13856,
 'gloucester': 7960,
 'uses': 19843,
 'manipulation': 12545,
 'richard': 16540,
 'gain': 7402,
 'augustblom': 1489,
 'olaffønss': 14480,
 'idaorloff': 9433,
 'ebbathomsen': 5332,
 'carllauritzen': 2875,
 'frederikjacobsen': 7201,
 'charlesunthan': 3272,
 'torbenmeyer': 19386,
 'svendbille': 18691,
 'olufbillesborg': 14542,
 'majabjerre': 12481,
 'lind': 11860,
 'cajusbruun': 2737,
 'michaelcurtiz': 13374,
 'mariedinesen': 12765,
 'veraesbøll': 19982,
 'lilyfrederiksen': 11846,
 'country': 4062,
 'respite': 16460,
 'wife': 20612,
 'becomes': 1816,
 'mentally': 13320,
 'unstable': 19798,
 'research': 16427,
 'papers': 14814,
 'friedrich': 7275,
 'dr': 5143,
 'leaves': 11553,
 'rejected': 16292,
 'louisfeuillade': 12111,
 'renénavarre': 16392,
 'edmundbreon': 5430,
 'georgesmelchior': 7693,
 'renéecarl': 16379,
 'janefaber': 10159,
 'andrévolbert': 922,
 'naudier': 14026,
 'maillard': 12469,
 'yvetteandréyor': 21096,
 'andréluguet': 912,
 'tasked': 18875,
 'inspector': 9665,
 'juve': 10955,
 'infamous': 9593,
 'criminal': 4151,
 'fantomas': 6471,
 'capture': 2817,
 'investigate': 9743,
 'victorsjöström': 20062,
 'hildaborgström': 9071,
 'aronlindgren': 1264,
 'eriklindholm': 6043,
 'georggrönroos': 7734,
 'williamlarsson': 20752,
 'richardlund': 16581,
 'carlbarcklind': 2851,
 'hugobjörne': 9326,
 'bertilmalmstedt': 1988,
 'single': 17927,
 'mother': 13798,
 'financial': 6686,
 'struggles': 18491,
 'separated': 17584,
 'children': 3388,
 'due': 5231,
 'laurentmorléas': 11497,
 'part': 14843,
 'creeping': 4139,
 'assassin': 1394,
 'hour': 9247,
 'follows': 6860,
 'fantã': 6472,
 'equally': 5997,
 'resourceful': 16451,
 'disguise': 4827,
 'master': 13044,
 'black': 2169,
 'pursued': 15836,
 'feuillade': 6639,
 'mas': 13025,
 'paris': 14829,
 'lord': 12008,
 'mariocaserini': 12801,
 'lydaborelli': 12300,
 'mariobonnard': 12797,
 'gianpaolorosmino': 7835,
 'vittoriorossipianelli': 20209,
 'dantecappelli': 4354,
 'mariacaserini': 12739,
 'camilloderiso': 2765,
 'emiliopetacci': 5823,
 'antoniomonti': 1103,
 'letiziaquaranta': 11717,
 'felicemetellio': 6565,
 'gentilemiotti': 7528,
 'needs': 14063,
 'staff': 18266,
 'officers': 14462,
 'leslie': 11692,
 'swayne': 18705,
 'order': 14602,
 'extravagant': 6392,
 'fortification': 6914,
 'bribed': 2486,
 'plans': 15418,
 'obtain': 14420,
 'enough': 5942,
 'money': 13702,
 'satisfy': 17354,
 'adventurer': 322,
 'steal': 18343,
 'alfredmachin': 631,
 'baert': 1609,
 'suzanneberni': 18672,
 'fernandcrommelynck': 6608,
 'nadiad': 13933,
 'angely': 939,
 'henrigoidsen': 8903,
 'alberthendrickx': 476,
 'mauriceauzat': 13111,
 'renéebailly': 16377,
 'georgesetienne': 7680,
 'zizifesterat': 21158,
 'lucienmussière': 12204,
 'réginald': 17186,
 'janetony': 10185,
 'countries': 4061,
 'another': 1059,
 'army': 1250,
 'pilot': 15367,
 'outbreak': 14707,
 'love': 12150,
 'visit': 20198,
 'falls': 6444,
 'neighboured': 14080,
 'sister': 17939,
 'mystery': 13918,
 'luitz': 12256,
 'morat': 13756,
 'armanddutertre': 1229,
 'fabiennefabrèges': 6402,
 'mariedorly': 12767,
 'édouardmathé': 21187,
 'brought': 2539,
 'series': 17613,
 'seemingly': 17531,
 'justice': 10951,
 'inside': 9659,
 'prison': 15667,
 'presumed': 15618,
 'dead': 4445,
 'crimes': 4150,
 'take': 18812,
 'place': 15402,
 'man': 12523,
 'body': 2286,
 'disappears': 4800,
 'finally': 6682,
 'fandor': 6459,
 'must': 13893,
 'alone': 754,
 'griffith': 8169,
 'henryb': 8922,
 'walthall': 20409,
 'josephinecrowell': 10754,
 'lilliangish': 11822,
 'dorothygish': 5072,
 'faytincher': 6533,
 'maemarsh': 12436,
 'spottiswoodeaitken': 18236,
 'robertharron': 16747,
 'miriamcooper': 13572,
 'maryalden': 12954,
 'donaldcrisp': 4964,
 'jameskirkwood': 10111,
 'jackpickford': 10004,
 'fredburns': 7171,
 'courtenayfoote': 4075,
 'lives': 11920,
 'miserable': 13586,
 'point': 15461,
 'popular': 15517,
 'john': 10548,
 'payne': 15050,
 'inspires': 9669,
 'song': 18107,
 'writes': 20971,
 'people': 15115,
 'horror': 9220,
 'paulwegener': 15029,
 'stellanrye': 18361,
 'greteberger': 8155,
 'lydasalmonova': 12302,
 'johngottowt': 10605,
 'lotharkörner': 12038,
 'fritzweidemann': 7315,
 'roystering': 17032,
 'companions': 3793,
 'quiet': 15888,
 'corner': 4009,
 'prague': 15579,
 'balduin': 1622,
 'resources': 16452,
 'end': 5893,
 'beer': 1828,
 'garden': 7437,
 'reached': 16140,
 'finds': 6694,
 'scarcely': 17387,
 'seated': 17493,
 'student': 18513,
 'georgeloanetucker': 7628,
 'janegail': 10161,
 'ethelgrandin': 6170,
 'williamh': 20723,
 'turner': 19637,
 'mattmoore': 13094,
 'williamwelsh': 20793,
 'millieliston': 13504,
 'irenewallace': 9794,
 'williamcavanaugh': 20684,
 'arthurhunter': 1316,
 'howardcrampton': 9266,
 'bainbridge': 1615,
 'lurayhuntley': 12281,
 'williampowers': 20769,
 'jackpoulton': 10007,
 'edwardboring': 5478,
 'prostitution': 15769,
 'ring': 16628,
 'aid': 393,
 'woman': 20909,
 'police': 15475,
 'officer': 14461,
 'sweetheart': 18715,
 'endeavors': 5896,
 'philanthropist': 15226,
 'kidnapped': 11182,
 'secretly': 17508,
 'runs': 17094,
 'uncover': 19716,
 'eleuteriorodolfi': 5668,
 'fernandanegripouget': 6605,
 'eugeniatettonifior': 6212,
 'ubaldostefani': 19672,
 'antoniogrisanti': 1100,
 'cesareganicarini': 3088,
 'vitaledistefano': 20205,
 'mariabrioschi': 12737,
 'carlocampogalliani': 2880,
 'ersiliascalpellini': 6107,
 'ercolevaser': 6005,
 'cesarezocchi': 3092,
 'triangles': 19530,
 'intersect': 9712,
 'ancient': 853,
 'pompei': 15500,
 'francescabertini': 6950,
 'carlobenetti': 2879,
 'lucianoalbertini': 12190,
 'ameliacipriani': 809,
 'antoniocruichi': 1098,
 'albertocollo': 484,
 'albertoalbertini': 482,
 'fight': 6661,
 'beginning': 1839,
 'others': 14673,
 'come': 3753,
 'assunta': 1422,
 'naples': 13981,
 'twentieth': 19645,
 'century': 3083,
 'much': 13835,
 'jealousy': 10242,
 'tragedy': 19464,
 'set': 17628,
 'michele': 13397,
 'spina': 18207,
 'blanchesweet': 2202,
 'georgesiegmann': 7688,
 'ralphlewis': 15989,
 'georgeberanger': 7562,
 'young': 21064,
 'turns': 19639,
 'prevented': 15627,
 'thoughts': 19183,
 'dating': 4382,
 'uncle': 19713,
 'western': 20558,
 'reginaldbarker': 16249,
 'williams': 20775,
 'hart': 8659,
 'frankburke': 7024,
 'clarawilliams': 3517,
 'barneysherry': 1704,
 'josephj': 10761,
 'dowling': 5134,
 'go': 7966,
 'straight': 18443,
 'ranch': 16012,
 'stage': 18270,
 'bandit': 1637,
 'jim': 10422,
 'stokes': 18418,
 'robs': 16827,
 'recuperating': 16201,
 'tries': 19543,
 'return': 16495,
 'daughter': 4383,
 'marries': 12888,
 'wishing': 20882,
 'wounded': 20953,
 'fleeing': 6762,
 'giovannipastrone': 7884,
 'carolinacatena': 2942,
 'lidiaquaranta': 11765,
 'ginamarangoni': 7870,
 'dantetesta': 4356,
 'umbertomozzato': 19693,
 'bartolomeopagano': 1734,
 'raffaeledinapoli': 15936,
 'emiliovardannes': 5825,
 'edoardodavesnes': 5451,
 'italiaalmirante': 9873,
 'manzini': 12580,
 'alexbernard': 594,
 'luigichellini': 12241,
 'enricogemelli': 5945,
 'fulvio': 7342,
 'lead': 11532,
 'hatred': 8682,
 'saved': 17363,
 'cabiria': 2725,
 'danger': 4328,
 'lurks': 12285,
 'temple': 18962,
 'rome': 16911,
 'spy': 18246,
 'volcano': 20261,
 'sacrificed': 17206,
 'sold': 18083,
 'child': 3385,
 'carthage': 2975,
 'destroyed': 4654,
 'marypickford': 13008,
 'owenmoore': 14753,
 'isabelvernon': 9846,
 'georgiawilson': 7740,
 'lucillecarney': 12216,
 'cone': 3844,
 'inezranous': 9592,
 'attend': 1459,
 'help': 8870,
 'cruel': 4186,
 'stepmother': 18379,
 'royal': 17013,
 'ball': 1625,
 'though': 19181,
 'mistreated': 13617,
 'cinderella': 3463,
 'stepsisters': 18381,
 'fairy': 6431,
 'godmother': 7975,
 'able': 146,
 'léonceperret': 12341,
 'louisleubas': 12125,
 'mauricelagrenée': 13126,
 'émilekeppens': 21192,
 'marcgérard': 12633,
 'henriduval': 8894,
 'suzannelebret': 18680,
 'jeannemarie': 10314,
 'laurent': 11496,
 'adrienpetit': 315,
 'suzanneprivat': 18682,
 'action': 219,
 'away': 1559,
 'kidnapper': 11183,
 'flees': 6763,
 'nice': 14142,
 'one': 14549,
 'captain': 2812,
 'missing': 13601,
 'school': 17414,
 'hearted': 8738,
 'employee': 5868,
 'kind': 11208,
 'parisian': 14831,
 'lowlifes': 12169,
 'pursuit': 15839,
 'accomplices': 191,
 'sets': 17631,
 'princess': 15651,
 'sonia': 18111,
 'danidoff': 4334,
 'artist': 1361,
 'upon': 19810,
 'finger': 6697,
 'relieves': 16320,
 'pearl': 15061,
 'necklace': 14052,
 'nanteuil': 13975,
 'appearance': 1133,
 'print': 15656,
 'neck': 14051,
 'sidneydrew': 17857,
 'edithstorey': 5414,
 'charleskent': 3218,
 'mrs': 13832,
 'adagifford': 231,
 'ethellloyd': 6175,
 'lillianburns': 11819,
 'gracestevens': 8066,
 'allancampbell': 698,
 'cortlandvandeusen': 4033,
 'franko': 7103,
 'neil': 14082,
 'make': 12486,
 'women': 20912,
 'act': 217,
 'like': 11788,
 'fun': 7347,
 'begins': 1840,
 'discovers': 4819,
 'seed': 17523,
 'maid': 12464,
 'fiancé': 6644,
 'decides': 4484,
 'slips': 18006,
 'henrikgaleen': 8905,
 'rudolfblümner': 17051,
 'roberta': 16686,
 'dietrich': 4740,
 'carlebert': 2857,
 'jakobtiedtke': 10070,
 'version': 20017,
 'save': 17362,
 'jews': 10415,
 'city': 3479,
 'rulers': 17082,
 'golem': 7993,
 'legend': 11582,
 'rabbi': 15904,
 'loew': 11964,
 'clay': 3576,
 'statue': 18335,
 'ongoing': 14553,
 'brutal': 2567,
 'persecution': 15163,
 '16th': 21,
 'benjaminchristensen': 1914,
 'karencaspersen': 10999,
 'ottoreinwald': 14695,
 'fritzlamprecht': 7307,
 'amandalund': 788,
 'hermannspiro': 9023,
 'bjørnspiro': 2168,
 'holgerbjerre': 9147,
 'ottolagoni': 14687,
 'charlesløwaas': 3229,
 'holgerrasmussen': 9148,
 'svendrindom': 18695,
 'robertschmidt': 16792,
 'finnwennerwald': 6709,
 'unforeseen': 19742,
 'events': 6276,
 'cruiser': 4190,
 'lt': 12178,
 'brink': 2507,
 'traitor': 19475,
 'command': 3768,
 'summoned': 18593,
 'wrongfully': 20975,
 'convicted': 3968,
 'van': 19911,
 'hauen': 8687,
 'family': 6453,
 'farrellmacdonald': 6492,
 'violetmacmillan': 20152,
 'frankmoore': 7099,
 'pierrecouderc': 15331,
 'fredwoodward': 7248,
 'raymondrussell': 16119,
 'arthursmollet': 1341,
 'charleshaydon': 3204,
 'toddwright': 19286,
 'vivianreed': 20216,
 'maiwells': 12480,
 'mildredharris': 13482,
 'louiseemmons': 12094,
 'jacquelinelovell': 10042,
 'pon': 15501,
 'wants': 20433,
 'gloria': 7943,
 'horrid': 9217,
 'courtier': 4079,
 'googly': 8009,
 'emerald': 5798,
 'boy': 2410,
 'taken': 18813,
 'marry': 12889,
 'goo': 8000,
 'camera': 2757,
 'wicked': 20602,
 'king': 11212,
 'gardener': 7438,
 'loisweber': 11976,
 'myrtlestedman': 13913,
 'herbertstanding': 9002,
 'adelefarrington': 254,
 'modern': 13658,
 'preacher': 15587,
 'medieval': 13279,
 'monk': 13712,
 'ignorant': 9456,
 'mob': 13650,
 'flits': 6783,
 'throughout': 19202,
 'also': 768,
 'represented': 16412,
 'ascetic': 1374,
 'nude': 14380,
 'representing': 16413,
 'truth': 19595,
 'killed': 11196,
 'gabriel': 7382,
 'ghostly': 7829,
 'naked': 13945,
 'girl': 7889,
 'parallel': 14819,
 'stories': 18432,
 'making': 12490,
 'edwards': 5525,
 'curtis': 4234,
 'stanleyhunt': 18306,
 'sarahconstancesmithhunt': 17340,
 'georgewalkus': 7728,
 'paddy': 14778,
 'malid': 12507,
 'balutsa': 1633,
 'kwagwanu': 11359,
 'francinehunt': 6977,
 'bobwilson': 2280,
 'awidi': 1562,
 'alfredcharlie': 616,
 'wakw': 20317,
 'famed': 6449,
 'northwest': 14344,
 'photographer': 15285,
 'edward': 5474,
 '1911': 75,
 'travelled': 19499,
 'massive': 13043,
 'undertaking': 19725,
 'vancouver': 19913,
 'island': 9859,
 'next': 14139,
 'year': 21024,
 'british': 2510,
 'columbia': 3744,
 'kwakwaka': 11360,
 'katebruce': 11045,
 'jiquellanoe': 10456,
 'gertrudebambrick': 7796,
 'harrycarey': 8589,
 'seducing': 17519,
 'religious': 16321,
 'seeks': 17529,
 'murdering': 13861,
 'destruction': 4657,
 'enemy': 5906,
 'leader': 11533,
 'get': 7819,
 'complicated': 3803,
 'leontinedranet': 11668,
 'bobbiegould': 2254,
 'mariewayne': 12780,
 'richardrosson': 16587,
 'frankbristol': 7021,
 'bertglennon': 1977,
 'halroach': 8393,
 'daveanderson': 4386,
 'jessiemaywalsh': 10398,
 'williamcook': 20690,
 'leads': 11537,
 'unc': 19706,
 'nunkie': 14386,
 'never': 14120,
 'starve': 18325,
 'meet': 13283,
 'mewel': 13360,
 'food': 6867,
 'mule': 13841,
 'journey': 10803,
 'ojo': 14475,
 'waif': 20305,
 'stray': 18463,
 'decide': 4481,
 'way': 20493,
 'along': 755,
 'louisj': 12119,
 'gasnier': 7460,
 'donaldmackenzie': 4975,
 'pearlwhite': 15067,
 'cranewilbur': 4114,
 'paulpanzer': 15012,
 'edwardjosé': 5504,
 'franciscarlyle': 6979,
 'cliffordbruce': 3613,
 'jackstanding': 10022,
 'eleanorwoodruff': 5651,
 'leroybaker': 11685,
 'louisedupre': 12093,
 'oscarnye': 14650,
 'samj': 17284,
 'ryan': 17173,
 'joecuny': 10511,
 'named': 13951,
 'guardian': 8207,
 'secretary': 17506,
 'pauline': 14980,
 'however': 9286,
 'officially': 14464,
 'wealthy': 20504,
 'dies': 4736,
 'lot': 12035,
 'left': 11576,
 'oscarapfel': 14641,
 'cecilb': 3043,
 'demille': 4556,
 'dustinfarnum': 5272,
 'monroesalisbury': 13721,
 'winifredkingston': 20848,
 'filson': 6679,
 'haideefuller': 8363,
 'redwing': 16211,
 'fosterknox': 6925,
 'fredmontague': 7229,
 'baby': 1588,
 'carmenderue': 2917,
 'fernandogálvez': 6621,
 'eugenederue': 6198,
 'macy': 12382,
 'swisher': 18732,
 'michaelj': 13379,
 'kilpatrick': 11203,
 'sydneydeane': 18750,
 'blame': 2185,
 'american': 815,
 'west': 20556,
 'chivalrous': 3402,
 'takes': 18816,
 'start': 18321,
 'journeys': 10804,
 'cattle': 3026,
 'embezzlement': 5793,
 'cousin': 4085,
 'edwins': 5553,
 'porter': 15525,
 'haroldlockwood': 8547,
 'olivecarey': 14521,
 'davidhartford': 4402,
 'louisedunlap': 12092,
 'williamwalters': 20792,
 'richardgarrick': 16565,
 'eugenewalter': 6211,
 'jackhenry': 9959,
 'dispossess': 4850,
 'squatters': 18252,
 'resident': 16437,
 'attempts': 1458,
 'live': 11915,
 'near': 14044,
 'false': 6445,
 'accusation': 198,
 'macksennett': 12376,
 'charlesbennett': 3156,
 'mariedressler': 12768,
 'charleschaplin': 3170,
 'mabelnormand': 12357,
 'mackswain': 12377,
 'chesterconklin': 3346,
 'dupes': 5263,
 'marriage': 12885,
 'con': 3817,
 'liliberky': 11806,
 'victorvarconi': 20065,
 'marijászai': 12785,
 'andorszakács': 865,
 'gyulanagy': 8338,
 'marcsasimon': 12646,
 'istvánszentgyörgyi': 9871,
 'alajosmészáros': 433,
 'katóberky': 11084,
 'elemérhetényi': 5661,
 'zoltángálosi': 21164,
 'endrekertész': 5901,
 'fülöperdõs': 7380,
 'adorjánnagy': 302,
 'mihályfekete': 13440,
 'nothing': 14359,
 'sent': 17579,
 'betty': 2033,
 'duel': 5232,
 'told': 19297,
 'lili': 11799,
 'berky': 1946,
 'raised': 15962,
 'dying': 5284,
 'father': 6509,
 'really': 16156,
 'living': 11923,
 'williamrobertdaly': 20771,
 'samlucas': 17289,
 'walterhitchcock': 20368,
 'hattiedelaro': 8685,
 'masterabernathy': 13045,
 'teresamichelena': 18993,
 'irvingcummings': 9831,
 'paulscardon': 15021,
 'marieeline': 12769,
 'garfieldthompson': 7443,
 'royapplegate': 17018,
 'bootswall': 2338,
 'tom': 19302,
 'white': 20590,
 'harriet': 8557,
 'beecher': 1827,
 'stowe': 18440,
 'times': 19238,
 'novel': 14370,
 'documenting': 4928,
 'jackw': 10025,
 'johnston': 10689,
 'williamelmer': 20710,
 'jamesgriswold': 10104,
 'horaceb': 9205,
 'carpenter': 2952,
 'texdriscoll': 19042,
 'cowboy': 4095,
 'romances': 16903,
 'natured': 14025,
 'posse': 15543,
 'brings': 2506,
 'rustlers': 17127,

Calculate Cosine similarity

![cos_similarity.webp]()

<b>Cosine similarity is a metric used to measure how similar the two items or documents are irrespective of their size. It measures the cosine of an angle between two vectors projected in multi-dimensional space<b>

In [ ]:
#generating the cosine similarity matrix
cosine_sim = cosine_similarity(count_matrix, count_matrix)
cosine_sim

array([[1.        , 0.        , 0.        , ..., 0.05555556, 0.        ,
        0.        ],
       [0.        , 1.        , 0.03450328, ..., 0.        , 0.03450328,
        0.03333333],
       [0.        , 0.03450328, 1.        , ..., 0.03149704, 0.07142857,
        0.        ],
       ...,
       [0.05555556, 0.        , 0.03149704, ..., 1.        , 0.        ,
        0.06085806],
       [0.        , 0.03450328, 0.07142857, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.03333333, 0.        , ..., 0.06085806, 0.        ,
        1.        ]])

In [ ]:
def recommendations(title,n,cosine_sim = cosine_sim):
  recommended_movies = []
    
  #get index of the movie that matches the title
  idx = indices[indices == title].index[0]
    
  #find highest cosine_sim this title shares with other titles extracted earlier and save it in a Series
  score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)
    
  #get indexes of the 'n' most similar movies
  top_n_indexes = list(score_series.iloc[1:n+1].index)
  print(top_n_indexes)
    
  #populating the list with titles of n matching movie
  for i in top_n_indexes:
    recommended_movies.append(list(data.index)[i])
  return recommended_movies

In [ ]:
# movie = input("Enter the movie name you wished to be recommended similar movies: ").lower()
movie = 'cleopatra'
# n = int(input("How many movies do you want to be recommended: "))
n = 10

In [ ]:
recommendations(movie, n)

[1, 2849, 180, 1650, 2357, 1287, 1908, 2213, 110, 91]

['the story of the kelly gang',
 'tigre verde',
 'victory',
 'dinamite doppia',
 'the crimes of stephen hawke',
 'il dottor jekyll',
 'mrs. wiggs of the cabbage patch',
 'pensione mimosa',
 'tillie wakes up',
 'cleopatra']

In [ ]:
indices[indices == movie].index[0]

3

In [ ]:
pd.Series(cosine_sim[indices[indices == movie].index[0]])

0       0.000000
1       0.275863
2       0.025959
3       1.000000
4       0.025507
          ...
2995    0.000000
2996    0.000000
2997    0.022893
2998    0.025959
2999    0.000000
Length: 3000, dtype: float64